body {
  background: white;
}

section {
  padding: 2.25em;
}

section.content {
  max-width: 1080px;
  margin: 0 auto;
  background-color: white;
  padding: 1.75em 2.25em 2.25em 2.25em;
  h1 {
    margin: 2.75rem 0 0 0;
  }
}

div.section-wrapper {
  max-width: $content-width;
  margin: 0 auto;
}
