nav {
  text-align: center;
  border-top: 1px solid #e1e1e1;
  background-color: white;

  .nav-contain {
    // background-image: url(../img/nav-back.jpg);
    // background-position: center left;
    // background-repeat: no-repeat;
    // min-height: 56px;
    max-width: 1080px;
    margin: 0 auto;
    @include breakpoint(medium up) {
      padding: 0.5em 20px;
    }
    padding: 0.333em 20px;
  }
}

ul.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.333em 0.7em;
    @include breakpoint(medium up) {
      padding: 0.333em 1em;
    }
    a {
      font-size: 0.9em;
      text-decoration: none;
      font-weight: 600;
      // letter-spacing: 0.1em;
    }
  }
}
